.jugar-container {
    font-family: 'Poppins', sans-serif;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .jugar-container .pokemon-image {
    width: 200px;
    height: 200px;
    filter: blur(5px); /* Imagen menos borrosa */
    margin-bottom: 20px;
    transition: filter 0.3s ease;
  }
  
  .jugar-container.correct .pokemon-image {
    filter: blur(0); /* Quitar el efecto borroso cuando es correcto */
  }
  
  .jugar-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .jugar-container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 80%;
  }
  
  .jugar-container button {
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .jugar-container button:hover {
    background-color: #ffcc00;
  }
  
  .jugar-container p {
    font-size: 1.2em;
    color: #333;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .jugar-container {
      padding: 15px;
    }
  
    .jugar-container .pokemon-image {
      width: 150px;
      height: 150px;
    }
  
    .jugar-container input {
      width: 90%;
    }
  
    .jugar-container p {
      font-size: 1em;
    }
  }
  
  @media (max-width: 480px) {
    .jugar-container {
      padding: 10px;
    }
  
    .jugar-container .pokemon-image {
      width: 100px;
      height: 100px;
    }
  
    .jugar-container input {
      width: 100%;
    }
  
    .jugar-container p {
      font-size: 0.9em;
    }
  }