.ranking-container {
    font-family: 'Poppins', sans-serif;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .top-user {
    margin-top: 20px;
  }
  
  .top-user p {
    font-size: 1.2em;
    color: #333;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .ranking-container {
      padding: 15px;
    }
  
    .top-user p {
      font-size: 1em;
    }
  }
  
  @media (max-width: 480px) {
    .ranking-container {
      padding: 10px;
    }
  
    .top-user p {
      font-size: 0.9em;
    }
  }